/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*color palette*/


:root{
    --main: #f8ede3;
    --primary:#dfd3c3;
    --secondary: #fcd0b4;
    --dark:#85586f;
    --darker:#5c3f4f;
}

hmlt, body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: var(--main);
}

.bg-wrapper{
    background-color: rgba(0,0,0, 0.3);
    backdrop-filter: blur(2px);
}