/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;


hmlt, body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.bg-wrapper{
    background-color: rgba(0,0,0, 0.3);
    backdrop-filter: blur(2px);
}