
    <!--card 1 -->
    <div class="bg-[var(--main)] w-[50vw] mx-auto  my-5 rounded-lg flex flex-col justify-center">
        <img src="/gromming.png" alt="gromming" class="h-16 w-16 p-2 rounded-full bg-blue-400 mx-auto my-5">

        <h3 class="text-lg text-[var(--darker)] font-semibold mx-auto">Pet Grooming</h3>

        <p class="text-xs my-3 text-[var(--dark)] mx-8 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quidem?</p>
    </div>

  <!--card 2 -->
  <div class="bg-[var(--main)] w-[50vw] mx-auto  my-5 rounded-lg flex flex-col justify-center">
    <img src="/vet.png" alt="gromming" class="h-16 w-16 p-2 rounded-full bg-red-400 mx-auto my-5">

    <h3 class="text-lg text-[var(--darker)] font-semibold mx-auto">Veterinary</h3>

    <p class="text-xs my-3 text-[var(--dark)] mx-8 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quidem?</p>
</div>
<!--card 3-->
<div class="bg-[var(--main)] w-[50vw] mx-auto  my-5 rounded-lg flex flex-col justify-center">
  <img src="/food.png" alt="gromming" class="h-16 w-16 p-2 rounded-full bg-purple-400 mx-auto my-5">

  <h3 class="text-lg text-[var(--darker)] font-semibold mx-auto">Food & Snacks</h3>

  <p class="text-xs my-3 text-[var(--dark)] mx-8 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quidem?</p>
</div>
  <!--card 4-->
<div class="bg-[var(--main)] w-[50vw] mx-auto  my-5 rounded-lg flex flex-col justify-center">
  <img src="/toys.png" alt="gromming" class="h-16 w-16 p-2 rounded-full bg-orange-400 mx-auto my-5">

  <h3 class="text-lg text-[var(--darker)] font-semibold mx-auto">Toys</h3>

  <p class="text-xs my-3 text-[var(--dark)] mx-8 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quidem?</p>
</div>