
<!-- card 1 -->

<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front bg-[var(--main)] rounded-lg ">
        <img src="vet1.jpg" alt="Avatar" class="w-[90%] flex justify-center mx-auto rounded-lg mt-5">

        <p class="mt-5">John Doe</p>
      </div>
  

      <div class="flip-card-back rounded-lg pt-10">
        <p class="my-2 text-xl font-bold mx-8  border-b-2 border-[var(--primary)]">Veterinarian</p>
        <p class="text-sm mt-5">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
  </div>