<script>
	const observer = new IntersectionObserver((entries) => {
   entries.forEach((entry) => {
	  if(entry.isIntersecting) {
		 entry.target.classList.add('show');
		 
	  }
   });
  });
   
  const hiddenElements = document.querySelectorAll('.hide');
  hiddenElements.forEach((item) => observer.observe(item));
  //loading
  window.addEventListener("load", () => {
  const loader = document.querySelector(".loader") as HTMLElement;
  loader.classList.add("loader-hidden");
  loader.addEventListener("transitionend", () => {
	if(loader){
	 
	  document.body.removeChild(loader);
	
  }
  });
  }); 
  </script>
<div class="lg:bg-[var(--primary)]">

<footer class="flex justify-around p-2 space-x-2 mt-20 lg:mt-28 lg:pt-8">
    <!--block 1 -->
   <div>
       <div class="flex space-x-2 items-center hide">
           <img src="/logo.png" alt="logo" class="h-7 w-7 mt-[-10px]">
           <p class="text-base text-[var(--darker)] hide lg:text-lg">Oh My Dog</p>
       </div>
       <p class="text-[var(--dark)] text-xs w-28 lg:w-[20vw] ml-4 hide">Lorem ipsum dolor sit amet consect adipisicing elit. consequatur!</p>
   
   </div>
   
   
   <!--block 2 -->
   <div>
       <h1 class="text-base text-[var(--darker)] hide">Address</h1>
       <ul class="text-xs text-[var(--dark)] w-20 lg:w-[20vw] hide">
           <li class="lg:my-2">
           123 fake street, London, UK
           </li>
           <li class="lg:my-2">fake@gmail.com</li>
           <li class="lg:my-2">+1 9090909</li>
       </ul>
   </div>
   
   <!--block only with big screen -->
   <div class="hidden lg:block">
       <h1 class="text-base text-[var(--darker)] hide">Links</h1>
       <ul class="text-xs text-[var(--dark)] w-20 md:w-[20vw] hide">
           <li class="lg:my-2">
           Services
           </li>
           <li class="lg:my-2">About</li>
           <li class="lg:my-2">Team</li>
           <li class="lg:my-2">Prices</li>
           <li class="lg:my-2">Contact</li>
       </ul>
   </div>
   
   <!--block 3 -->
   
   <div>
       <h1 class="text-base text-[var(--darker)] hide">Opening Hours</h1>
       <ul class="text-xs text-[var(--dark)] w-20 mx-auto lg:w-[20vw]  hide"><li class="lg:my-2">
           Mon-Tue: 09:00 - 17:00
           </li>
           <li class="lg:my-2">
           Wed-Thu: 10:00 - 16:00
           </li >
           <li class="lg:my-2">
           Sat-Sun: 11:00 - 16:00
           </li >
       </ul>
   </div>
   </footer>
   
   
   <h1 class="text-base text-[var(--darker)] border-t-2 border-[var(--dark)] p-2 lg:justify-center lg:flex mt-5 hide">Subscribe to our Newsletter!</h1>
   
   
   <div class="flex p-5 lg:justify-center">
       <input type="text" placeholder="Email" class="w-36 lg:w-auto hide rounded-{-lg p-1">
   <button class="text-xs text-white bg-red-400 hover:bg-red-600 rounded-r-lg p-1 hide">Subscribe</button>
   
   </div>
</div>