<footer class="flex p-2 space-x-2 mt-20">
 <!--block 1 -->
<div>
    <div class="flex space-x-2 items-center">
        <img src="/logo.png" alt="logo" class="h-7 w-7 mt-[-10px]">
        <p class="text-base text-[var(--darker)]">Oh My Dog</p>
    </div>
    <p class="text-[var(--dark)] text-xs w-36 ml-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, consequatur!</p>

</div>


<!--block 2 -->
<div>
    <h1 class="text-lg text-[var(--darker)]">Address</h1>
    <ul class="text-xs text-[var(--dark)] w-20"><li>
        123 fake street, London, UK
        </li>
        <li>fake@gmail.com</li>
        <li>+1 9090909</li>
    </ul>
</div>

<!--block 3 -->

<div>
    <h1 class="text-lg text-[var(--darker)]">Opening Hours</h1>
    <ul class="text-xs text-[var(--dark)] w-20 mx-auto"><li>
        Mon-Tue: 09:00 - 17:00
        </li>
        <li>
        Wed-Thu: 10:00 - 16:00
        </li>
        <li>
        Sat-Sun: 11:00 - 16:00
        </li>
    </ul>
</div>
</footer>


<h1 class="text-base text-[var(--darker)] border-t-2 border-[var(--dark)] p-2 mt-5">Subscribe to our Newsletter!</h1>


<div class="flex p-5">
    <input type="text" placeholder="Email" class="w-36 rounded-{-lg p-1">
<button class="text-xs text-white bg-red-400 rounded-r-lg p-1">Subscribe</button>

</div>