---
import MenuMobile from "./MenuMobile";
---

<nav class="flex justify-between items-center px-3">
    <div class="flex space-x-2 items-center">
        <img src="/logo.png" alt="logo" class="h-7 w-7">
        <p class="text-sm mt-3 text-[var(--dark)]">Oh My Dog</p>
    </div>

        <!-- menu mobile -->
<div class="md:hidden">  
    <MenuMobile client:load/>
</div>


</nav>

