<script>
	const observer = new IntersectionObserver((entries) => {
   entries.forEach((entry) => {
	  if(entry.isIntersecting) {
		 entry.target.classList.add('show');
		 
	  }
   });
  });
   
  const hiddenElements = document.querySelectorAll('.hide');
  hiddenElements.forEach((item) => observer.observe(item));
  //loading
  window.addEventListener("load", () => {
  const loader = document.querySelector(".loader") as HTMLElement;
  loader.classList.add("loader-hidden");
  loader.addEventListener("transitionend", () => {
	if(loader){
	 
	  document.body.removeChild(loader);
	
  }
  });
  });
  </script>

<div class="block md:justify-center md:flex md:mx-auto md:space-x-3">

<!--plan 1 -->

<div class="bg-[var(--primary)] md:w-[20vw] lg:hover:scale-105 cursor-pointer duration-75 mt-10 rounded-lg hide">
    <div class="flex justify-center">
        <h2 class="my-5 text-lg text-[var(--dark)] font-semibold">Regular Plan</h2>
    </div>

   <div class="flex justify-center">
    <ul class="text-xs text-[var(--dark)]">
        <li>- Lorem, ipsum.</li>
        <li>- Lorem, ipsum dolor.</li>
        <li>- ipsum.</li>
        <li>- assumenda</li>
        <li>- Lorem, ipsum dolor.</li>
        <li>- ipsum.</li>
        <li>- assumenda</li>
        <li>- Lorem, ipsum.</li>
        <li>- Lorem, ipsum dolor.</li>
        <li>- ipsum.</li>
    </ul>
   </div>

    <h1 class="text-red-400 flex justify-center mt-5 text-2xl">$5.90</h1>

    <div class="flex justify-center">
        <button class="cursor-pointer  text-white bg-red-400 hover:bg-red-600 duration-100 p-2 rounded-lg my-5">Select Plan</button>
    </div>
</div>

<!--plan 2 -->

<div class="bg-red-400 md:w-[20vw] lg:hover:scale-105 cursor-pointer  mt-10 rounded-lg hide">
    <div class="flex justify-center">
        <h2 class="my-5 text-lg text-[var(--main)] font-semibold">Premium Plan</h2>
    </div>

   <div class="flex justify-center">
    <ul class="text-xs text-[var(--main)]">
        <li>- Lorem, ipsum.</li>
        <li>- Lorem, ipsum dolor.</li>
        <li>- ipsum.</li>
        <li>- assumenda</li>
        <li>- Lorem, ipsum dolor.</li>
        <li>- ipsum.</li>
        <li>- assumenda</li>
        <li>- Lorem, ipsum.</li>
        <li>- Lorem, ipsum dolor.</li>
        <li>- ipsum.</li>
    </ul>
   </div>

    <h1 class="text-[var(--dark)] flex justify-center mt-5 text-2xl">$9.90</h1>

    <div class="flex justify-center">
        <button class="cursor-pointer  text-[var(--main)] bg-[var(--dark)] hover:bg-[var(--darker)] p-2 rounded-lg my-5">Select Plan</button>
    </div>
</div>

<!--plan 3 -->

<div class="bg-[var(--darker)] md:w-[20vw] lg:hover:scale-105 cursor-pointer  mt-10 rounded-lg hide">
    <div class="flex justify-center">
        <h2 class="my-5 text-lg text-[var(--main)] font-semibold">Golden Plan</h2>
    </div>

   <div class="flex justify-center">
    <ul class="text-xs text-[var(--main)]">
        <li>- Lorem, ipsum.</li>
        <li>- Lorem, ipsum dolor.</li>
        <li>- ipsum.</li>
        <li>- assumenda</li>
        <li>- Lorem, ipsum dolor.</li>
        <li>- ipsum.</li>
        <li>- assumenda</li>
        <li>- Lorem, ipsum.</li>
        <li>- Lorem, ipsum dolor.</li>
        <li>- ipsum.</li>
    </ul>
   </div>

    <h1 class="text-red-400 flex justify-center mt-5 text-2xl">$14.90</h1>

    <div class="flex justify-center">
        <button class="cursor-pointer  text-white bg-red-400 hover:bg-red-600 duration-100  p-2 rounded-lg my-5">Select Plan</button>
    </div>
</div>
</div>