---
import Layout from "../layouts/Layout.astro"

---

<script>

    //loading
    window.addEventListener("load", () => {
    const loader = document.querySelector(".loader") as HTMLElement;
    loader.classList.add("loader-hidden");
    loader.addEventListener("transitionend", () => {
      if(loader){
       
        document.body.removeChild(loader);
      
    }
    });
    });
</script>


<Layout title="Oh My Dog | error">

<!--loader -->

<div class="loader"></div>

    <section class="mt-10">
        <div class="flex mx-10 mt-10">
			<img src="/hero.png" alt="hero" class=" mx-auto h-[30vh] hide">
		</div>
       <div class="flex justify-center">
        <h1 class="text-2xl mt-28 text-[var(--dark)]">Page Not Found</h1>
       </div>
    <div class="flex justify-center mt-10 pb-10">
        <a href="/" class="p-2 bg-red-400 text-white rounded-lg">Go back to the main page</a>
    </div>
    </section>

</Layout>