---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Oh My Dog">
	<main >
      <!-- hero section -->
        
	  <section>
		<div class="flex mx-10 mt-5">
			<img src="/hero.png" alt="hero" class="mx-auto">
		</div>

		<div class="flex flex-col mx-8 mt-14">
			<h1 class="font-bold text-2xl mx-8 text-center border-amber-600 border-b-2">For Your Best Friend Care</h1>
			<p class="my-5 text-sm text-center mx-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
		</div>

		<div class="my-4 flex justify-center space-x-2">
			<button class="bg-red-400 py-2 px-4 rounded-lg text-white">Our services</button>
			<button class="bg-green-400 py-2 px-4 rounded-lg text-white">Appointments</button>
		</div>
	  </section>

	</main>
</Layout>

